<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Agregar Usuarios</title>
</head>
<body>

	<form action="/users" method="post">
		<input type="text" name="correo" />
		<input type="text" name="password" />
		<input type="text" name="apellido_paterno" />
		<input type="text" name="apellido_materno" />
		<input type="submit">	
	</form>

</body>
</html>