<!DOCTYPE html>
<html>
<head>
	<title>Administrador de Usuarios</title>

	<link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>

</head>
<body>
	<h1>Hola Usuarios</h1>

	<h3>Listado de Usuarios <%= superman %></h3>


</body>
</html>